#page-content-wrapper {
  background-color:white;
  min-width: 100vw;
  min-height: 100vh;
}


.navbar-brand {
  font-size: 1.3rem;
}

#navbar {
  background-color: #cee3f8;
  color:black;
  border-bottom: 1px ridge gray;
}

a#welcome-msg {
  font-size: 1.2em;
  color: black;
}

.nav-item {
  color:black;
}





div.page-item-wrapper {
  background-color: white;
  border: 1px ridge #14227b;
  border-radius: 5px;
  margin: 5vh auto 10vh;
  padding-bottom: 10px;
  width: 70vw;
}



div.login-wrapper {
  background-color: white;
  border: 1px ridge #14227b;
  border-radius: 5px;
  margin-top: 10vh;
  margin-bottom: auto;
  max-width: 400px;
}

.section-header {
  background-color: #14227b;
  color: white;
  padding: 10px 20px 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  position: relative;
  z-index: 5;
  box-shadow: 0 5px 5px gray;
}

.table-form-container {
  border: 1px ridge #14227b;
  border-radius: 5px;
  margin: 5vh 5vw 10vh 5vw;

}

.table-section-header {
  background-color: #14227b;
  color: white;
  padding: 10px 20px 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  z-index: 5;
  box-shadow: 0 5px 5px gray;
}

.table-container {
  border-bottom: 1px ridge #14227b;
  margin: 0 5vw;
  padding-bottom: 5px;
}

.table-container .dt-buttons {
  margin-left: 5%;
}

div.opt-container {
  padding: 20px;

}

div#time_options { /* time options for search form */
  border-top: 1px ridge #14227b;
  border-bottom: 1px ridge #14227b;
}

div.btn-container {
  margin-top: 3em;
  right:0;
}

button.btn {
  width: 15%;
}

button.link-btn {
  background: none;
  border: none;
  padding: 0;
  color: #007bff; 
  cursor: pointer;
}

button.link-btn:hover {
  text-decoration: underline;
}

div.message-wrapper { 
  background-color: rgba(255, 165, 0, 0.3);
  border: 3px ridge orange;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.errorlist {
  color: red;
}

span.top {
  display: block;
  margin-top: 2vh;
}


@media (min-width: 768px) {

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
}