.page-content-wrapper {
  background-color: rgb(250, 250, 250);
  min-width: 100vw;
  min-height: 100vh;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 700;
}

svg#download-icon {
  color: #FF4500;
}

#navbar {
  background-color: #cee3f8;
  color:black;
  border-bottom: 1px ridge gray;
}

.nav-item {
  color:black;
}

.disabled {
  color: gray;
}

div#search-form-wrapper {
  background-color: white;
  border: 1px ridge #14227b;
  border-radius: 5px;
  margin: 5vh auto 10vh;
  padding-bottom: 10px;
  width: 70vw;
}

p#terms-warning {
  color: #FF4500;
}

div.login-wrapper {
  background-color: white;
  border: 1px ridge #14227b;
  border-radius: 5px;
  margin-top: 10vh;
  margin-bottom: auto;
  max-width: 400px;
}

.section-header {
  background-color: #14227b;
  color: white;
  padding: 10px 20px 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  position: relative;
  z-index: 5;
  box-shadow: 0 5px 5px gray;
}

.table-form-container {
  background-color: white;
  border: 1px ridge #14227b;
  border-radius: 5px;
  margin: 5vh 5vw 10vh 5vw;
}

.table-container {
  border-bottom: 1px ridge #14227b;
  padding-bottom: 5px;
  overflow: auto;
}

.dt-buttons {
  margin-left: 5%;
}

.table {
  width: 100%; 
}

input#id_url, input#id_terms, input#id_subreddit{
  width: 80%;
}

div#time_options {
  border-top: 1px ridge #14227b;
  border-bottom: 1px ridge #14227b;
}

button.btn {
  width: 15%;
}

button.link-btn {
  background: none;
  border: none;
  padding: 0;
  color: #007bff; 
  cursor: pointer;
}

button.link-btn:hover {
  text-decoration: underline;
}

div.message-wrapper { 
  background-color: rgba(255, 165, 0, 0.3);
  border: 3px ridge orange;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

div#download-message-wrapper {
  background-color: rgba(0, 255, 0, 0.3);
  border: 3px ridge green;
}

.errorlist {
  color: red;
}
