{% extends 'base.html' %}
{% block title %}Search{% endblock %}
{% block content %}

<div class="container" id="search-form-wrapper">
  <div class="container section-header">
    <h3>Search Reddit</h3>
  </div>
  <form action="{% url 'downloader:search-main' %}" method='POST'>
    {% csrf_token %}
    <div class="container">
      <p>Please enter a URL below to search for a single submission, or provide search criteria. Search terms may be required depending on the selected sort option.</p>
      <div class="row mt-5">
        <div class="col">
          {{form.url_select}}
          {{form.url.label}} {{form.url}}
          <p>{{form.url.errors}}</p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col">
          {{form.terms_select}}
          {{form.terms.label}} {{form.terms}}
          <p>{{form.terms.errors}}</p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col">
          <p>{{form.subreddit.label}} {{form.subreddit}}</p>
          {% autoescape off%}{{form.subreddit.help_text}}{% endautoescape %}
          <p>{{form.subreddit.errors}}</p>
        </div>
        <div class="col">
          <p>{{form.syntax.label}} {{form.syntax}}</p>
          <p>{{form.syntax.errors}}</p>
        </div>
      </div>
      <div class="row my-5">
        <div class="col">
          <p>{{form.limit.label}} {{form.limit}}</p>
          <p>{{form.limit.errors}}</p>
        </div>
      </div>
      <div class="pt-3 pb-5" id="time_options">
        <div class="mb-5">
          <p>Select either a standard Reddit time filter and sort, or provide a date a range with other sort.</p>
        </div>
        <div class="row">
          <div class="col-auto">
            {{form.time_filter_select}}
          </div>
          <div class="col">
            {{form.time_filter.label}} {{form.time_filter}}
            <p>{{form.time_filter.errors}}</p>
          </div>
          <div class="col">
            <p>Sort {{form.praw_sort}}</p>
            <p id="terms-warning" style="display:none;">Search terms will be ignored for this option</p>
            <p>{{form.praw_sort.errors}}</p>
          </div>
          <div class="col">
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-auto">
            {{form.date_range_select}}
          </div>
          <div class="col">
            <p>{{form.start_date.label}} {{form.start_date.help_text}}</p>
            <p>{{form.start_date}}</p>
            <p>{{form.start_date.errors}}</p>
          </div>
          <div class="col">
            <p>{{form.end_date.label}}</p>
            <p>{{form.end_date}}</p>
            <p>{{form.end_date.errors}}</p>
          </div>
          <div class="col">
            <p>Sort</p>
            <p>{{form.psaw_sort}}</p>
            <p>{{form.psaw_sort.errors}}</p>
          </div>
        </div>
      </div>
      <p class="my-5">{{form.favorite}} Favorite this search</p>
      <div class="container btn-container d-flex justify-content-center">
        <button class="btn btn-success submit-btn" id="search_btn" type="submit">
          <i class="fa fa-refresh fa-spin loading-icon" style="display:none"></i> Search
        </button>
      </div>
    </div>
  </form>
</div>
{% endblock %}