{% extends 'base.html' %}
{% load string_filters %}
{% block title %}
  {% if type == 'favorites' %}
    Favorites
  {% else %}
    Search History
  {% endif %}
{% endblock %}
{% block content %}
<div class="table-form-container px-3 pb-3">
  <div class="section-header">
    {% if type == 'favorites' %}
    <h3>Favorites</h3>
    {% else %}
    <h3>Search History</h3>
    {% endif %}
  </div>
  {% if queries %}
  <p class="help-text">
    Hold ctrl/cmd to select or deselect individual items. Hold shift to select or deselect a range of items.
  </p>
  <div class="table-container">
    <table class="table table-sm table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th></th>
          <th>Query</th>
          <th>Subreddit(s)</th>
          <th>Sort</th>
          <th>Limit</th>
          <th>Time Filter</th>
          <th>Date searched</th>
          <th>options</th>
          <th>id</th>
        </tr>
      </thead>
      <tbody>
        {% for query in queries %}
        <tr>
          <td class="align-middle"></td>
          <td class="align-middle text-wrap">{{query.terms}}</td>
          <td class="align-middle text-wrap">{{query.subreddit|add_spaces}}</td>
          <td class="align-middle">
            {% if query.praw_sort %}
            {{query.get_praw_sort_display}}
            {% elif query.psaw_sort %}
            {{query.get_psaw_sort_display}}
            {% endif %}
          </td>
          <td class="align-middle">{{query.limit}}</td>
          <td class="align-middle">{{query.time_filter}}</td>
          <td class="align-middle">{{query.date_created}}</td>
          <td class="align-middle">
            <div>
              <form action="{% url 'downloader:search-main' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="redo" value="{{query.pk}}">
                <div>
                  <button class="link-btn text-nowrap" type="submit">Search again</button>
                </div>
                <div>
                  <a href="{% url 'downloader:previous-search-main' pk=query.pk %}">Details</a>
                </div>
              </form>
            </div>
          </td>
          <td>{{query.pk}}</td>
        </tr>
        {% endfor %}
    </table>
  </div>
  <div class="pt-5 pb-3 d-flex justify-content-center">
    <form id="remove-queries-form" action="{% url 'downloader:remove-queries' %}" method="POST">
      {% csrf_token %}
      {% if type == 'favorites' %}
      <input type="submit" class="rm-btn btn btn-primary" name="remove-faves" value="Remove selected queries from favorites"></button>
      {% else %}
      <input type="submit" class="rm-btn btn btn-primary" name="remove-queries" value="Remove selected queries"></button>
      <input type="submit" class="rm-btn btn btn-primary" name="add-faves" value="Add selected queries to favorites"></button>
      {% endif %}
  </div>
  {% else %}
  <div class="empty-msg">
    {% if type == 'favorites' %}
    <p class="empty-msg">You currently have no favorites.</p>
    {% else %}
    <p class="empty-msg">There are no searches in your history.</p>
    {% endif %}
  </div>
  {% endif %}
</div>
{% endblock %}
